[submodule "OptimizationCalculusKernel"]
	path = OptimizationCalculusKernel
	url = git@github.com:qiaoyx-or/OptimizationCalculusKernel.git
[submodule "pyarmor_runtime_005890"]
	path = pyarmor_runtime_005890
	url = git@github.com:qiaoyx-or/pyarmor_runtime_005890.git
