absl_py==2.1.0
numpy==2.3.1
pandas==2.3.0
pandasgui==0.2.14
PySide6==6.8.2.1
PySide6==6.9.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
PySide6_Examples==6.8.2.1
qt_material==2.14
SQLAlchemy==2.0.31
APScheduler==3.10.4
icecream==2.1.4
Interface==2.11.1
ipython==8.12.3
matplotlib==3.10.3
networkx==3.3
ortools==9.12.4544
sympy==1.12.1
treelib==1.7.0
